#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT_LAYER  0
#define FUNCTION_LAYER 1
#define BLUETOOTH_LAYER 2

/ {
    combos {
        compatible = "zmk,combos";

        bt {
            bindings = <&mo 2>;
            key-positions = <47 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC         &kp N1     &kp N2    &kp N3         &kp N4            &kp N5                                      &kp N6        &kp N7     &kp N8     &kp N9      &kp N0         &kp MINUS
&kp TAB         &kp Q      &kp W     &kp E          &kp R             &kp T                                       &kp Y         &kp U      &kp I      &kp O       &kp P          &kp BSLH
&kp CLCK        &kp A      &kp S     &kp D          &kp F             &kp G                                       &kp H         &kp J      &kp K      &kp L       &kp SEMICOLON  &kp SINGLE_QUOTE
&kp LEFT_SHIFT  &kp Z      &kp X     &kp C          &kp V             &kp B                                       &kp N         &kp M      &kp COMMA  &kp PERIOD  &kp SLASH      &mo 1
                           &kp HOME  &kp PAGE_DOWN                                                                                          &kp LBKT   &kp RBKT
                                                                   &kp MINUS        &kp BACKSPACE   &kp SPACE        &kp ENTER
                                                                   &kp LEFT_CONTROL &kp LEFT_ALT    &kp RIGHT_GUI    &kp LEFT_CONTROL
                                                                   &kp DOWN         &kp LEFT_ARROW  &kp RIGHT_ARROW  &kp UP_ARROW    
            >;
        };

        function_layer {
            bindings = <
&kp F1     &kp F2      &kp F3     &kp F4    &kp F5    &kp F6                        &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12
&kp PRTSC  &kp SCRLCK  &kp PAUSE  &kp INS   &kp HOME  &kp PGUP                      &kp DEL   &kp END   &kp PGDN  &kp RALT  &kp PSCR  &kp SLCK
&kp NONE   &kp NONE    &kp NONE   &kp NONE  &kp NONE  &kp NONE                      &kp NONE  &kp NONE  &kp NONE  &kp NONE  &kp NONE  &kp NONE
&kp NONE   &kp NONE    &kp NONE   &kp NONE  &kp NONE  &kp NONE                      &kp NONE  &kp NONE  &kp NONE  &kp NONE  &kp NONE  &kp NONE
                       &kp NONE   &kp NONE                                                              &kp NONE  &kp NONE
                                                        &kp NONE  &kp NONE  &kp NONE  &kp NONE
                                                        &kp NONE  &kp NONE  &kp NONE  &kp NONE  
                                                        &kp NONE  &kp NONE  &kp NONE  &kp NONE
            >;
        };

        bluetooth_layer {
            bindings = <
&kp NONE      &kp NONE      &kp NONE      &kp NONE      &kp NONE      &kp NONE                      &kp NONE  &kp NONE  &kp NONE  &kp NONE  &kp NONE    &kp NONE
&bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &kp NONE      &kp NONE                      &kp NONE  &kp NONE  &kp NONE  &kp NONE  &kp NONE    &kp NONE
&kp NONE      &kp NONE      &kp NONE      &kp NONE      &kp NONE      &kp NONE                      &kp NONE  &kp NONE  &kp NONE  &kp NONE  &kp NONE    &kp NONE
&kp NONE      &kp NONE      &kp NONE      &kp NONE      &kp NONE      &kp NONE                      &kp NONE  &kp NONE  &kp NONE  &kp NONE  &kp NONE    &kp NONE
                            &kp NONE      &kp NONE                                                                      &kp NONE  &kp NONE
                                                                      &kp NONE  &kp NONE  &kp NONE  &kp NONE
                                                                                &kp NONE  &kp NONE
                                                            &kp NONE  &kp NONE  &kp NONE  &kp NONE  &kp NONE  &kp NONE
            >;
        };
    };
};
